body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-image: url('https://w0.peakpx.com/wallpaper/169/675/HD-wallpaper-money-with-background-of-gray-and-black-money.jpg');
      background-size: cover;
  }
  
  .detail{
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 300px;
  }
  h1 {
      text-align: center;
  }
  
  form {
      display: flex;
      flex-direction: column;
  }
  
  label {
      margin-bottom: 5px;
  }
  
  input {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  
  button {
      padding: 10px;
      background-color: #007bffd8;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  button:hover {
      background-color: #0056b3;
  }
  #container{
      display:flex;
    }
    .fieldContainer{
      display: flex;
      line-height:5px;
    }
    .logos .logoIcon {
      height: 25px;
      width: 39px;
      margin: 1px 6px 1px 0;
      float: left;
  }